.ft-st-italic{
    font-style: italic;
}
.ft-st-normal{
    font-style: normal;
}
.ft-st-oblique{
    font-style: oblique;
}
.ft-st-inherit{
    font-style: inherit;
}
.ft-st-initial{
    font-style: initial;
}
.ft-st-unset{
    font-style: unset;
}