.font-size-0px{
    font-size: 0px;
}
.font-size-1px{
    font-size: 1px;
}
.font-size-2px{
    font-size: 2px;
}
.font-size-3px{
    font-size: 3px;
}
.font-size-4px{
    font-size: 4px;
}
.font-size-5px{
    font-size: 5px;
}
.font-size-6px{
    font-size: 6px;
}
.font-size-7px{
    font-size: 7px;
}
.font-size-8px{
    font-size: 8px;
}
.font-size-9px{
    font-size: 9px;
}
.font-size-10px{
    font-size: 10px;
}
.font-size-12px{
    font-size: 12px;
}
.font-size-14px{
    font-size: 14px;
}
.font-size-16px{
    font-size: 16px;
}
.font-size-18px{
    font-size: 18px;
}
.font-size-20px{
    font-size: 20px;
}
.font-size-24px{
    font-size: 24px;
}
.font-size-28px{
    font-size: 28px;
}
.font-size-32px{
    font-size: 32px;
}
.font-size-36px{
    font-size: 36px;
}
.font-size-40px{
    font-size: 40px;
}
.font-size-44px{
    font-size: 44px;
}
.font-size-48px{
    font-size: 48px;
}
.font-size-52px{
    font-size: 52px;
}
.font-size-56px{
    font-size: 56px;
}
.font-size-60px{
    font-size: 60px;
}
.font-size-70px{
    font-size: 70px;
}
.font-size-80px{
    font-size: 80px;
}
.font-size-90px{
    font-size: 90px;
}
.font-size-100px{
    font-size: 100px;
}
